@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

.navbar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.building-icon {
  font-size: 25px;
  padding-right: 10px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10%;
}

.navbar-links-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
  list-style: none;
}

.link {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.link:visited {
  color: #edf0f1;
}

.link:hover {
  color: #0088a9;
}
